.icon-lever-ball-a {
  background-image: url(/img/);
  background-position: 0px -227px;
  width: 204px;
  height: 227px;
}
.icon-lever-ball-b {
  background-image: url(/img/);
  background-position: 0px -1135px;
  width: 204px;
  height: 227px;
}
.icon-lever-ball-c {
  background-image: url(/img/);
  background-position: 0px -454px;
  width: 204px;
  height: 227px;
}
.icon-lever-ball-d {
  background-image: url(/img/);
  background-position: 0px -681px;
  width: 204px;
  height: 227px;
}
.icon-lever-ball-e {
  background-image: url(/img/);
  background-position: 0px -908px;
  width: 204px;
  height: 227px;
}
.icon-lever-ball-f {
  background-image: url(/img/);
  background-position: 0px 0px;
  width: 204px;
  height: 227px;
}
.icon-lever-ball-g {
  background-image: url(/img/);
  background-position: 0px -1362px;
  width: 204px;
  height: 227px;
}
.icon-lever-ball-h {
  background-image: url(/img/);
  background-position: 0px -1589px;
  width: 204px;
  height: 227px;
}
.icon-lever-ball-i {
  background-image: url(/img/);
  background-position: 0px -1816px;
  width: 204px;
  height: 227px;
}
.icon-lever-ball-j {
  background-image: url(/img/);
  background-position: 0px -2043px;
  width: 204px;
  height: 227px;
}
.icon-lever-ball-k {
  background-image: url(/img/);
  background-position: 0px -2270px;
  width: 204px;
  height: 227px;
}
