.icon-ICONS-A {
  background-image: url(/img/);
  background-position: 0px 0px;
  width: 200px;
  height: 200px;
}
.icon-ICONS-F {
  background-image: url(/img/);
  background-position: 0px -200px;
  width: 200px;
  height: 200px;
}
.icon-ICONS-I {
  background-image: url(/img/);
  background-position: 0px -400px;
  width: 200px;
  height: 200px;
}
.icon-ICONS-L {
  background-image: url(/img/);
  background-position: 0px -600px;
  width: 200px;
  height: 200px;
}
.icon-ICONS-bitcoin {
  background-image: url(/img/);
  background-position: 0px -800px;
  width: 200px;
  height: 200px;
}
.icon-ICONS-chrome {
  background-image: url(/img/);
  background-position: 0px -1000px;
  width: 200px;
  height: 200px;
}
.icon-ICONS-explorer {
  background-image: url(/img/);
  background-position: 0px -1200px;
  width: 200px;
  height: 200px;
}
.icon-ICONS-firefox {
  background-image: url(/img/);
  background-position: 0px -1400px;
  width: 200px;
  height: 200px;
}
.icon-ICONS-hashtag {
  background-image: url(/img/);
  background-position: 0px -1600px;
  width: 200px;
  height: 200px;
}
.icon-ICONS-safari {
  background-image: url(/img/);
  background-position: 0px -1800px;
  width: 200px;
  height: 200px;
}
