.ball-0 {
  background-position: 0px 10%;
}
.ball-1 {
  background-position: 0px 50%;
}
.ball-2 {
  background-position: 0px 20%;
}
.ball-3 {
  background-position: 0px 30%;
}
.ball-4 {
  background-position: 0px 40%;
}
.ball-5 {
  background-position: 0px 0%;
}
.ball-6 {
  background-position: 0px 60%;
}
.ball-7 {
  background-position: 0px 70%;
}
.ball-8 {
  background-position: 0px 80%;
}
.ball-9 {
  background-position: 0px 90%;
}
.ball-10 {
  background-position: 0px 100%;
}
