@-webkit-keyframes jackpot {
  from {
    background-position: 50% 0%;
  }
  to { 
    background-position: 50% 260%;
  }
}
@-webkit-keyframes jackpot2 {
  from {
    background-position: 50% 30%;
  }
  to { 
    background-position: 50% 690%;
  }
}
@-webkit-keyframes sway {
  from {
    background-position: center 0;
  }
  to { 
    background-position: center 225%;
  }
}
@-webkit-keyframes pulse {
  from {
    background-position: -3000px -3000px;
  }
  to { 
    background-position: 0px;
  }
}
@keyframes pulse {
  from {
    background-position: -3000px -3000px;
  }
  to { 
    background-position: 0px;
  }
}
.pulse {
background: -webkit-linear-gradient(bottom,  
  rgba(255,255,0,1) 0%,
  rgba(255,0,0,1) 10%,
  rgba(0,255,0,1) 20%,
  rgba(0,255,255,1) 30%,
  rgba(255,255,0,1) 40%,
  rgba(255,0,0,1) 50%,
  rgba(0,255,0,1) 60%,
  rgba(0,255,255,1) 70%,
  rgba(255,255,0,1) 80%,
  rgba(255,0,0,1) 90%,
  rgba(255,255,0,1) 100%); /* Chrome10+,Safari5.1+ */
  animation: pulse 10s infinite linear;
  -webkit-animation: pulse 10s infinite linear;
}
.readyState{
background: -webkit-linear-gradient(bottom,  
  rgba(0,255,0,1) 0%,
  rgba(0,255,0,1) 29%,
  rgba(0,150,0,1) 30%,
  rgba(0,150,0,1) 69%,
  rgba(0,255,0,1) 70%, rgba(0,255,0,1) 89%,
  rgba(0,255,0,1) 100%); /* Chrome10+,Safari5.1+ */
  -webkit-animation: pulse 10s infinite linear;
}
.errorState{
background: -webkit-linear-gradient(bottom,  
  rgba(255,0,0,1) 0%,
  rgba(255,0,0,1) 29%,
  rgba(155,0,0,1) 30%,
  rgba(155,0,0,1) 69%,
  rgba(255,0,0,1) 70%,
  rgba(255,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  animation: pulse 10s infinite linear;
  -webkit-animation: pulse 10s infinite linear;
}
.sway{
  -webkit-animation: sway 1s infinite alternate;
}

html { 
  background: url(../img/slot-machines-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body, html {
    display: block;
    height: 100%;
    width: 100%;
    overflow:hidden;
}
.slot-wrapper{
  display: block;
  width:100%;
  padding-top:62.5%;
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  -webkit-perspective:3000px;
  perspective: 3000px;
}
.slot-skin{
  display: block;
  position:absolute;
  right:0%;
  bottom:0%;
  width:100%;
  height:100%;
  background: url(../img/grunt-slot-machine.png) top center no-repeat;
  background-size: 100%;
  z-index:1;
}
.lever-wrapper{
  display: block;
  position:absolute;
  right:4.4%;
  bottom:38%;
  width:8%;
  height:50%;
  background: url(../img/lever-vertical-bar.png) top center repeat-y;
  background-size: 25.5%;
  -webkit-transform: rotatex(0deg);
  transform: rotatex(0deg);
  transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  -webkit-transform-style: preserve-3d;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  z-index: 9998
}
.lever-ball{
  display: block;
  position:absolute;
  right:0%;
  top:-1%;
  background-image: url(../img/ballSprite.png);
  background-repeat: no-repeat;
  webkit-background-size: 100%;    
  background-size: 100%;    
  cursor: pointer;
  z-index: 999;
  width:100%;
  padding-bottom:111%;
  -webkit-transform: rotatex(0deg);
  transform: rotatex(0deg);
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
}
.lever-wrapper.down{
  -webkit-transform: rotatex(-70deg);
  transform: rotatex(-70deg);
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
}  
.lever-ball.down{
  -webkit-transform: rotatex(80deg);
  transform: rotatex(80deg);
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;

}
.lever-ball .spacer{
    display: block;
    width:100%;
    height:auto;
}
.coin{
  display: block;
  position:absolute;
  right:26.1%;
  top:29%;
  width: 6%;
  height: 12%;
  background-image: url(../img/bit-coin.png);
  background-repeat: no-repeat;
  background-position: center 225%;
  background-size: 100%;    
  cursor: pointer;
  z-index: 999;
  transition: background-color 0.5s ease;
  -webkit-transition:background-position 0.5s ease;
}
.coin:hover{  
  background-position: center 0%;
  transition: background-position 0.5s ease;
  -webkit-transition:background-position 0.5s ease;
}
.coin.inserted{  
  background-position: center 500%;
  transition: background-position 0.5s ease;
  -webkit-transition:background-position 0.5s ease;
}
.cylon-eye{
  display: block;
  position:absolute;
  right:37.5%;
  top:11.5%;
  width: 25%;
  height: 8%;
  background-image: url(../img/cylon-eye.gif);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100%;    
  cursor: pointer;
  z-index: 0
}
.led-box{
  display:block;
  position: absolute;
  height:75%;
  width:60%;
  border-radius:46%/22%;
  top:20%;
  left:20%;
  z-index: -1
}
.window-display{
  border-top-left-radius:45%;
  border-top-right-radius:45%;
  display:block;
  position: absolute;
  height:19%;
  width:52%;
  background-color: #FFF;
  background-image: url(../img/upfront-logo.png);
  background-repeat: no-repeat;
  background-position: 35% bottom;
  background-size: 45%;    
  top:26%;
  left:24%;
  z-index: 1; 
  box-shadow:inset 6px 3px 15px #000;
}
.shield{
  display:block;
  position: absolute;
  height:18%;
  width:52%;
  background-color: #000;
  top:48%;
  left:24%;
  z-index: 0; 
}
.outer-wrapper{
  position:relative;
  width:100%;
  max-width:1150px;
  margin:0 auto;
  display:block;
  height:100%;
  background-repeat: no-repeat;
  background-position: 50% 190px;
  background-size: 70%;    
  background-image: none;
  -webkit-transition: background-image 0.2s ease-in-out;
}
.shoot-wrapper{
  -webkit-perspective:81;
  -webkit-transorm-style: preserve-3d;
  position:absolute;
  bottom:0;
  width:19%;
  height:28%;
  left:40.5%;
  z-index:999;
}
.coin-shoot, .coin-shoot:first-child{
  content:"";
  background-image: url(../img/bitcoins3-shadows.png);
  background-repeat: repeat-y;
  background-position: 50% 50%;
  background-size: 100%;    
  display:block;
  width:100%;
  -webkit-animation: jackpot .36s infinite linear;
  height:0%;
  position:absolute;
}
.shoot-shadow{
  content:"";
  display:block;
  width:120%;
  margin-left:-10%;
  height:100%;
  position:absolute;
  bottom:0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.95)), color-stop(15%,rgba(0,0,0,0.65)), color-stop(45%,rgba(0,0,0,0)));
}
.coin-shoot:first-child{
  background-size: 100%;    
  background-position: 50% 30%;
  -webkit-animation: jackpot2 0.4s infinite linear;
  width:120%;
  margin-left:-10%;
}
.overlay, .overlay:after, .overlay:before{
  content: "";  
  display:block;
  width:100%;
  height:120%;
  position:absolute;
  background-image: url(../img/bitcoins3-shadows.png);
  background-repeat: repeat;
  background-position: 60% 0%;
  background-size: 170%;    
  z-index:9998;
  bottom:-170%;
  overflow:hidden;
}
.overlay:after{
  background-position: 40% 0%;
  bottom:-60%
}
.overlay:before{
  background-image: url(../img/bitcoins3-shadows.png);
  background-position: 10% 0%;
  bottom:-40%;

}
.grunt{
  content: "";  
  display:none;
  width:100%;
  height:100%;
  position:absolute;
  background-image: url(../img/grunt.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 150%;    
  z-index:9999;
  top:0;
  -webkit-filter: drop-shadow(5px 25px 10px rgba(0,0,0,0.75));
}
.troll{
  background-image: url(../img/Briantroll.png);
}
.fixer{
  background-image: url(../img/Fob-the-Fixer.png);
}
